<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap" rel="stylesheet">
</head>
<body>
    <%-include('navbar')%>
    <!-- main body -->
    <section class="main">
            <div class="quote">
                <p class="u">"Like Education healthcare also</p>
                <p class="l">needs to be given importance."</p>
            </div>
            <br>
            <div class="buttons">
                <!-- <button class="log_doc"> Login for Doctor</button> &nbsp;&nbsp;&nbsp;
                <button class="log_pat"> Login for Paatient</button> -->
                <a href="/sign_doc" class="log_doc">Login for Doctor</a>
                <a href="/sign_pat" class="log_pat">Login for Patient</a>
            </div>
    </section>
</body>
</html>