<section class="header">
    <nav>
        <a href="#" title="logo" id="logo" > <img src="../IMAGE/logo.png" alt=""></a>
        <!-- <a href="#" title="logo"> <img src="/img/disney-hotstar-logo.svg" alt=""> </a> -->

        <div class="nav-link">
            <ul>
                <li><a href="/">Home</a></li> &nbsp; &nbsp;
                <li><a href="#">Blog</a></li> &nbsp; &nbsp;
                <li><a href="#">About Us</a></li> &nbsp; &nbsp;
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</section>